* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 50px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;

    color: #283544;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;

    margin: 30px 0;
}

label, select {
    font-size: 16px;
    line-height: 32px;
}

.tools {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.tools-right button {
    margin-left: 5px;
}

.tools-left label, select, button {
    margin-right: 10px;
}

.tools-left {
    display: flex;
    align-items: center;
}

.button {
    all: unset;

    font-size: 16px;
    line-height: 32px;
    padding: 3px 20px;

    border: 1px solid #647492;
    border-radius: 8px;

    color: #647492;
}

.button:hover {
    transition: 0.5s;
    background: #647492ad;
    color: #FFFFFF;
}

.button-start {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #647492;
    color: #FFFFFF;
}

.button-start:hover {
    background: #45536d;
}

.button-start img {
    margin-right: 10px;
}

label {
    color: #535353;
}

.select {
    border: 1px solid #CBCBCB;
    border-radius: 8px;

    padding: 9px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}

.node {
    position: relative;
    width: calc(100% / 50);
    height: 0;
    padding-bottom: 2%;
    /* outline: 0.5px solid black; */
    background-image: url("../assets/grama.png");
    background-size: contain;
}

.searched-node {
    background: #58a317;
}

.shortest-path-node {
    background-image: url("../assets/caminho.png");
    background-size: contain;
}

.start-node {
    background-image: url("../assets/start.svg");
    background-size: contain;
}

.end-node {
    background-image: url("../assets/end.svg");
    background-size: contain;
}

.wall-node {
    background-image: url("../assets/agua.png");
    background-size: contain;
}
